main.css


html *{
	background-color:#000;
}
@media only screen and (max-height: 990px;){
	[class*="body"]{
		height:100%;

	}
}
/*for mobile phones:*/
@media only screen and (max-width: 768px;){
	[class*="body"]{
		width:100%;
	}
}

.navbar{
	width:100%;
	background-color:#FD7F00;
	display:inline-block;
	margin:0 auto;
	padding:0px 0px;
}

.navbar img{
	vertical-align: top;
	display:inline-block;
	width:70px;
	height: 50px;
	
}

.navbar p{
	vertical-align: top;
	display:inline-block;
	font-size:20px;
	font-family:Georgia;
	width:60%;
	right:0px;
	color:white;
}
.menu{
	display:inline-block;
	width:49%;
	vertical-align:top;
	float:right;
	padding-left:10px;

}
.menu li{
	display:inline-block;
	text-decoration:none;
	width:25%;
	line-height:5.6px;
	font-size:15px;
	margin:0 auto;
	right:0px;
}
.open{
	display:inline-block;
	width:30%;
	height:20%;
	left:0px;
	padding-left:25px;
	border:solid 2px;
}
.open p{
	display:inline-block;
	width:30%;
	height:20%;
	font-size:20px;
	right:0px;
	border:solid 2px;
}

.mainmenu button{
	display:inline-block;
	margin:0 auto;
}
